/* footer.component.css */
.footer-header {
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
  }
  
  .footer-icons button {
    margin: 0 5px;
  }
  