<p-panel>
    <ng-template pTemplate="content">
      <div class="footer-content">
        <p>ALL IN ONE PLACE</p>
        <!-- <p>© 2024 Your Company. All rights reserved.</p> -->
        <div class="footer-icons">
          <button pButton type="button" icon="pi pi-facebook" class="p-button-rounded p-button-secondary"></button>
          <button pButton type="button" icon="pi pi-twitter" class="p-button-rounded p-button-secondary"></button>
          <button pButton type="button" icon="pi pi-linkedin" class="p-button-rounded p-button-secondary"></button>
        </div>
      </div>
    </ng-template>
  </p-panel>
  